body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #272626;
    overflow:hidden;
    font-family: "Raleway";
}

.calculator {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator__assets{
    width: 50%;
    height: 60%;
    position: absolute;
}
.circle1{
    position: absolute;
    height: 100%;
    right: -30%;
    top: -10%;
}
.circle2{
    position: absolute;
    height: 100%;
    left: -30%;
    bottom: -10%;
}

.calculator__box {
    width: 50%;
    height: 60%;
    background-color: rgb(255,255,255,0.85);
    border-radius: 15px;
    backdrop-filter: blur(20px) saturate(200%);
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}
.calculator__title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #272626;
}
.laespumitapng{
    width: 17%;
}
.calculator__body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}
.calculator__input1{
    position: relative;
    width: 30%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.calculator__input2{
    position: relative;
    width: 30%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.input{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(255,255,255,0.8);
    backdrop-filter: blur(20px);
    border-style: none;
    text-align: center;
    box-shadow: 0 5px 5px 0px rgb(0,0,0,0.1);
}

.calculator__input1::after{
    content: "$";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    height: 100%;
    padding-left: 10px;
    box-shadow: -2px 0px 5px 0px rgb(0,0,0,0.1);
}

.calculator__input2::after{
    content: "%";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    height: 100%;
    padding-left: 10px;
    box-shadow: -2px 0px 5px 0px rgb(0,0,0,0.1);
}

.result{
    flex-direction: column;
}

h2{
    font-size: 1.5rem;
    margin: 0;
    color: #272626;
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    .calculator__assets{
        width: 90%;
        max-height: 500px;
        min-height: 500px;

    }
    .calculator__box{
        width: 90%;
        max-height: 500px;
        min-height: 500px;
    }
    h2{
        font-size: 2rem;
    }
    .calculator__title{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .calculator__body{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .calculator__input1{
        width: 90%;
        margin: 0;
        margin-bottom: 20px;
    }
    .calculator__input2{
        width: 90%;
    }

}